<section class="footer">
	<div class="constrainer">

		<div class="footer-col col-xs-6 col-sm-3">
			<img src="img/GSV-footer-logo.png">
			<p>© 2016 GSV Transportation<br>
			All rights reserved</p>
		</div>
		<div class="footer-col col-xs-6 col-sm-3">
			<a href="/about">About</a><br>
			<a href="/equip">Equipment</a><br>
			<a href="/work">Teams</a><br>
			<a href="/docs">Documents</a><br>
			<a href="http://carrier411.com/" target="_blank">Carrier411</a><br>
		</div>
		<div class="footer-col col-xs-6 col-sm-3">
			<a href="" data-toggle="modal" data-target="#track-modal">Track</a><br>
			<a href="" data-toggle="modal" data-target="#pod-modal">POD</a><br>
			<a href="/contact">Contact</a><br>
			<a href="/careers">Careers</a><br>
		</div>
		<div class="footer-col-social col-xs-6 col-sm-3">
			<a class="footer-facebook" href="https://www.facebook.com/GSV-Transportation-Inc-185870415103648/timeline" target="_blank"><i class="fa fa-facebook"></i>Facebook</a><br>
			<a class="footer-twitter" href="https://twitter.com/gsv_transp" target="_blank"><i class="fa fa-twitter"></i>Twitter</a><br>
			<a class="footer-yelp" href="http://www.yelp.com/biz/gsv-transportation-ontario" target="_blank"><i class="fa fa-yelp"></i>Yelp</a><br>
			<a class="footer-instagram" href="https://www.instagram.com/gsvtransportation" target="_blank"><i class="fa fa-instagram"></i>Instagram</a><br>
		</div>

	</div>
</section>