		




<section class="footer">
	<div class="constrainer">


	<ul id="social_links">
  		<li><a href="" class="footer-ico"><img src="img/vmg-twtr-ico.png"></a></li>
   		<li><a href="" class="footer-ico"><img src="img/vmg-ig-ico.png"></a></li>
		<li><a href="" class="footer-logo"><img src="img/vmg-trans-logo-gr.png"></a></li>
		<li><a href="" class="footer-ico"><img src="img/vmg-fb-ico.png"></a></li>
		<li><a href="" class="footer-ico"><img src="img/vmg-in-ico.png"></a></li>
	</ul>

		<div class="footer-col-container">
			<div class="footer-col col-xs-6 col-sm-4">
				<p><b>VMG Transport</b> is based in Rancho Cucamonga, CA.<br>
				© 2016, All rights reserved</p>
			</div>
			<div class="footer-col col-xs-6 col-sm-2 col-sm-offset-2">
				<a href="/docs">Documents</a><br>
				<a href="http://carrier411.com/" target="_blank">Carrier411</a><br>
				<a href="/contact">Contact</a><br>
			</div>
			<div class="footer-col col-xs-6 col-sm-2">
				<a href="">Quote</a><br>
				<a href="">Track</a><br>
				<a href="">POD</a><br>
			</div>
			<div class="footer-col col-xs-6 col-sm-2">
				<a href="">Careers</a><br>
				<a href="">About</a><br>
			</div>
		</div>	

	</div>
</section>