

<section class="nav-main">
	<div class="nav-constrainer">
		<a href="/" class="nav-logo-mobile pull-left"><img src="img/vmg-trans-logo-gr.png"></a>
		<div class="nav-items">
      		<a href="/about">About</a>
			<a href="http://safersys.org/CompanySnapshot.aspx" target="_blank">DOT/MC 646960</a>
			<a href="/" class="nav-logo" style="padding-top:0px; padding-bottom:0px;">
				<img src="img/vmg-trans-logo-gr.png">
			</a>
			<a href="/track">Track</a>
      		<a href="/pod">POD</a>
			<a class="nav-items-quote" style="color:#E14339" href="/quote">Quote</a>
		</div>
		<div class="nav-mobile-button pull-right">
			<a class="nav-mobile-button-anchor" id="drop-nav-expand">
				<i class="fa fa-chevron-down"></i>
      		</a>
		</div>
	</div>
	<div id="nav-dropdown">
		<div class="constrainer">
			<a href="/about" class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>About</p>
				</div>
			</a>
			<a href="http://safersys.org/CompanySnapshot.aspx" target="_blank" class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>DOT/MC 646960</p>
				</div>
			</a>
			<a href="/pod" class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>POD</p>
				</div>
			</a>
			<a href="/track" class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>Track</p>
				</div>
			</a>
			<a href="/quote" class="nav-dropdown-item nav-dropdown-item-last clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>Quote</p>
				</div>
			</a>
		</div>
	</div>
</section>