
<section id="nav-dropdown">
	<div class="constrainer">
		<a href="/about" class="nav-dropdown-item clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>About</p>
			</div>
		</a>
		<a href="http://safersys.org/CompanySnapshot.aspx" target="_blank" class="nav-dropdown-item clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>DOT/MC 646960</p>
			</div>
		</a>
		<a href="/pod" class="nav-dropdown-item clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>POD</p>
			</div>
		</a>
		<a href="/track" class="nav-dropdown-item clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>Track</p>
			</div>
		</a>
		<a href="/contact" class="nav-dropdown-item nav-dropdown-item-last clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>Quote</p>
			</div>
		</a>
	</div>
</section>
