

<section class="nav-main">
	<div class="nav-constrainer">
		<div class="nav-logo pull-left">
			<a><img src="img/gsv-logo-white.png"></a>
		</div>
		<div class="nav-mobile-button pull-right">
			<a class="nav-mobile-button-anchor" id="drop-nav-expand">
				<i class="fa fa-chevron-down"></i>
      		</a>
		</div>
		<div class="nav-items pull-right">
			<a href="http://safersys.org/CompanySnapshot.aspx" target="_blank">DOT/MC 646960</a>
      		<a href="" data-toggle="modal" data-target="#track-modal">Track</a>
      		<a href="" data-toggle="modal" data-target="#pod-modal">POD</a>
			<a href="/work">Teams</a>
			<a href="/contact">Contact</a>
		</div>
	</div>
</section>

<!-- TRACK MODAL -->
<% include ../partials/modal-track %>

<!-- POD MODAL -->
<% include ../partials/modal-pod %>