
<section id="nav-dropdown">
	<div class="constrainer">
		<a href="http://safersys.org/CompanySnapshot.aspx" target="_blank" class="nav-dropdown-item clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>DOT/MC 646960</p>
			</div>
		</a>
		<a href="" class="nav-dropdown-item clearfix" data-toggle="modal" data-target="#track-modal">
			<div class="nav-dropdown-label pull-left">
				<p>Track</p>
			</div>
		</a>
		<a href="" class="nav-dropdown-item clearfix" data-toggle="modal" data-target="#pod-modal">
			<div class="nav-dropdown-label pull-left">
				<p>POD</p>
			</div>
		</a>
		<a href="/work" class="nav-dropdown-item clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>Teams</p>
			</div>
		</a>
		<a href="/contact" class="nav-dropdown-item nav-dropdown-item-last clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>Contact</p>
			</div>
		</a>
	</div>
</section>

<!-- TRACK MODAL -->
<% include ../partials/modal-track %>

<!-- POD MODAL -->
<% include ../partials/modal-pod %>