

<section class="logos clearfix">
	<div class="constrainer">

		<h1 class="section-header">We're in this together with our customers.</h1>

		<div class="customers-wrap clearfix">
			<div class="customers-col-left col-sm-6">
				<div class="customers-col-container clearfix">
					<p class="customer-txt">"Stay focused. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. The key to success is to keep your head above the water, never give up."</p>
					<img title="Walmart" class="pull-left" src="img/customer-logos/walmart.png">
					<p class="img-txt pull-left">Steve Macnamara <br> Logistics Coordinator, Toyota</p>
				</div>
				<div class="customers-col-container customers-col-container1 clearfix">
					<p class="customer-txt">"Stay focused. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. The key to success is to keep your head above the water, never give up."</p>
					<img title="Walmart" class="pull-left" src="img/customer-logos/walmart.png">
					<p class="img-txt pull-left">Steve Macnamara <br> Logistics Coordinator, Toyota</p>
				</div>
			</div>
			<div class="customers-col-right col-sm-6">
				<div class="customers-col-container clearfix">
					<p class="customer-txt">"Stay focused. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. The key to success is to keep your head above the water, never give up. Stay focused. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. The key to success is to keep your head above the water, never give up. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. The key to success is to keep your head above the water, never give up."</p>
					<img title="Walmart" class="pull-left" src="img/customer-logos/walmart.png">
					<p class="img-txt pull-left">Steve Macnamara <br> Logistics Coordinator, Toyota</p>
				</div>
			</div>
		</div>

	</div>
</section>