

<section id="subpage-nav-dropdown">
	<div class="constrainer">
		<a href="http://safersys.org/CompanySnapshot.aspx" target="_blank" class="subpage-nav-dropdown-item clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>DOT/MC 646960</p>
			</div>
		</a>
		<a href="" data-toggle="modal" data-target="#track-modal" class="subpage-nav-dropdown-item clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>Track</p>
			</div>
		</a>
		<a href="" data-toggle="modal" data-target="#pod-modal" class="subpage-nav-dropdown-item clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>POD</p>
			</div>
		</a>
		<a href="/work" class="subpage-nav-dropdown-item clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>Teams</p>
			</div>
		</a>
		<a href="/contact" class="subpage-nav-dropdown-item subpage-nav-dropdown-item-last clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>Contact</p>
			</div>
		</a>
	</div>
</section>

<!-- TRACK MODAL -->
<% include ../partials/modal-track %>

<!-- POD MODAL -->
<% include ../partials/modal-pod %>