
/*----------------- TRACK MODAL -------------------*/

.track-textarea {
  margin-top: 20px;
  width: 100%;
  height: 46px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  padding-left: 10px;
  background-color: #fff;
  border: 0px;
  outline: 1px solid #ebebeb;
  color: #919191;
  height: 90px;
  padding-top: 10px;
  resize: none;
}

.track-textarea:focus {
  outline: 1px solid #7e14aa;
}

/*----------------- POD MODAL -------------------*/

.pod-textarea {
  margin-top: 20px;
  width: 100%;
  height: 46px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  padding-left: 10px;
  background-color: #fff;
  border: 0px;
  outline: 1px solid #ebebeb;
  color: #919191;
  height: 90px;
  padding-top: 10px;
  resize: none;
}

.pod-textarea:focus {
  outline: 1px solid #7e14aa;
}