<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- SUBPAGE MAIN NAV -->
	<% include ../partials/subpage-nav-main.ejs %>

	<!-- SUBPAGE MOBILE NAV -->
	<% include ../partials/subpage-nav-mobile.ejs %>

	<!-- ABOUT COVER -->

	<div class="AboutCover">
	<section class="about-banner-txt">

		<div class="constrainer">
			<p class="about-banner-header-txt">Big&nbsp; enough&nbsp; to&nbsp; provide&nbsp; great &nbsp; service, &nbsp; never&nbsp; too &nbsp; big&nbsp; to&nbsp; care.</p>
		</div>

	</section>
	</div>

	<!-- WHO SECTION -->

	<section class="who clearfix">

		<div class="constrainer">
			<h1 class="who-header">Who we are</h1>

			<div class="who-container clearfix">
				<p class="who-number col-xs-4 col-sm-2">01</p>
				<div class="who-text col-xs-8 col-sm-6">
					<p class="who-txt-header">The quickest, most professional carrier</p>
					<ul class="who-ul">
						<li><i class="fa fa-check"></i>Asset based, 50 truck carrier</li>
						<li><i class="fa fa-check"></i>High value cargo insurance</li>
						<li><i class="fa fa-check"></i>Specializing in partials</li>
						<li><i class="fa fa-check"></i>Will help with any shipment</li>
					</ul>
				</div>
				<div class="who-img col-sm-4">
					<img src="img/purp-freight.png" class="pull-right">
				</div>
			</div>

			<div class="who-container clearfix">
				<p class="who-number col-xs-4 col-sm-2">02</p>
				<div class="who-text col-xs-8 col-sm-6">
					<p class="who-txt-header">GSV champions drivers and employees</p>
					<ul class="who-ul">
						<li><i class="fa fa-check"></i>Success is the happiness of clients and employees</li>
						<li><i class="fa fa-check"></i>Actions rather than promises</li>
						<li><i class="fa fa-check"></i>Responsive and innovative
</li>
					</ul>
				</div>
				<div class="who-img col-sm-4">
					<img src="img/purp-pro.png" class="pull-right">
				</div>
			</div>

			<div class="who-container clearfix">
				<p class="who-number col-xs-4 col-sm-2">03</p>
				<div class="who-text col-xs-8 col-sm-6">
					<p class="who-txt-header">A family company built on relationships</p>
					<ul class="who-ul">
						<li><i class="fa fa-check"></i>Better wages</li>
						<li><i class="fa fa-check"></i>Greater transparency</li>
						<li><i class="fa fa-check"></i>A personal touch</li>
					</ul>
				</div>
				<div class="who-img col-sm-4">
					<img src="img/shake.png" class="pull-right">
				</div>
			</div>

		</div>
	</section>


	<!-- MISSION STATEMENT -->

	<section class="shaded-section clearfix">
		<div class="constrainer">

			<h1 class="shaded-header">GSV Mission</h1>
			<p class="mission-txt">The GSV mission is to create the most innovative and transparent logistics company in the world. Our clients deserve simple and refined solutions based on affordable models. We forge strong partnerships by focusing on accountability and ownership. Our culture is fun and friendly, and we aim to establish long lasting relationships built on trust, integrity and respect. We reinforce our reputation within the industry one positive action at time.</p>	

		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>



</body>


</html>