<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- HOME MAIN NAV -->
	<% include ../partials/index-nav-main %>

	<!-- HOME MOBILE NAV -->
	<% include ../partials/index-nav-mobile %>


	<!-- GRAPHIC SECTION -->

	<section class="graphic clearfix" style="padding-top: 99px;">

		<div class="constrainer">
			<h1 class="section-header">Why You Should Use VMG's Integrated Network Over a Non Integrated Company</h1>

			<div class="graphic-container">

				<div class="graphic-row1 row">
					<div class="col-xs-6">
						<p class="graphic-txt">Customer A uses VMG for shipping</p>
					</div>
					<div class="col-xs-6">
						<p class="graphic-txt graphic-txt1">Customer B uses a non integrated trucking company</p>	
					</div>
				</div>


				<div class="graphic-row2 row">
					<div class="col-xs-6">
						<p class="graphic-txt">The VMG truck transporting Customer A's shipment breaks down in Iowa</p>
					</div>
					<div class="col-xs-6">
						<p class="graphic-txt graphic-txt1">The other company's truck with Customer B's shipment breaks down in Iowa</p>	
					</div>
				</div>

				<div class="graphic-row3 row">
					<div class="col-xs-6">
						<p class="graphic-txt">VMG uses its extensive network to recover the load and deliver on time</p>
					</div>
					<div class="col-xs-6">
						<p class="graphic-txt graphic-txt1">This company has no other trucks in Iowa, resulting in service failure</p>	
					</div>
				</div>

			</div>

		</div>
	</section>


	<!-- MISSION STATEMENT -->

	<section class="callout-section clearfix">
		<div class="constrainer">

			<div class="callout-img-col col-sm-3 col-md-2">
				<img src="img/vmg-loud.png">
			</div>
			<div class="col-sm-9 col-md-10">
				<p class="mission-txt"><b>The VMG mission</b> is to create the most innovative and transparent logistics company in the world. We deliver simple and refined solutions based on affordable models. Our culture is fun and friendly, and we forge strong relationships built on trust, integrity and respect. We reinforce our reputation within the industry one positive action at time.</p>	
			</div>

		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>



</body>


</html>