<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- HOME MAIN NAV -->
  <% include ../partials/index-nav-main %>

  <!-- HOME MOBILE NAV -->
  <% include ../partials/index-nav-mobile %>


<!-- CAREERS BODY -->

<section class="careers-txt" style="padding-top: 30px;">
	<div class="constrainer">

		<h1 class="section-header">Bringing drivers back into the industry one delivery at a time.</h1>

		<p class="careers-about"><b>VMG Transport</b> is a fast growing family owned trucking company based out of Rancho Cucamonga, CA. We provide trucking and logistics management solutions for business clients primarily in the mid-west, southeast region and state of Texas. GSV offers a wide range of transportation solutions ranging from local, regional and long haul truckload services from suppliers to manufacturers to distributors and retailers.</p>

		<h2 class="careers-txt-header">Take a look at our open positions:</h2>

		<ul class="careers-jobs">
			<li class="clearfix">
				<a href="#" class="job-button clearfix">
					<h3 class="job-title">Truck Driver</h3>
					<p id="plus" class="pull-right">+</p>
				</a>
			</li>
			<li class="job-details">
				<p class="job-summary">
				We are looking for an experienced truck driver to serve our logistics team in a safe and timely manner.</p>
				<h3 class="job-subhead">Requirements</h3>
				<ul class="job-requirements">
					<li>CDL A</li>
					<li>Active Medical Card</li>
					<li>No more than 1 moving violation</li>
					<li>Ability to pass DOT Drug Screening</li>
					<li>Minimum of 3 Years Commercial Driver Experience (Average 3-4K RT miles per week)</li>
				</ul>
				<h3 class="job-subhead">Rates</h3>
				<ul class="job-requirements">
					<li>2-5 Years Experience - Up to$.36 per mile</li>
					<li>5+ Years Experience - Up to$.37 per mile</li>
					<li>Bonus rates for Team drivers</li>
					<li>Health Insurance – Pay up to 60% of individual</li>
					<li>Simple IRA- Company Match up to 3%</li>
				</ul>
			</li>
		</ul>


		<ul class="careers-jobs">
			<li class="clearfix">
				<a href="#" class="job-button clearfix">
					<h3 class="job-title">Dispatcher/ logistics coordinator</h3>
					<p id="plus" class="pull-right">+</p>
				</a>
			</li>
			<li class="job-details">
				<p class="job-summary">
					A trucking dispatcher directs and monitors the movements of trucks and freight while doing it in the most cost effective way, taking into account customer satisfaction and driver safety. Dispatchers are also responsible for keeping records, monitoring driver daily logs for errors or violations, and the monitoring of both drivers in relation to their remaining hours of service and equipment as to its availability.
				</p>
				<h3 class="job-subhead">Requirements</h3>
				<ul class="job-requirements">
					<li>Strong verbal and written communication skills to effectively convey accurate information to management, personnel, and customers</li>
					<li>Experience in the service sector or service oriented role</li>
					<li>Can perform calmly and effectively in high stress situations</li>
					<li>Highly organized and the ability to solve problems in an fast paced environment</li>
					<li>Management skills</li>
					<li>Negotiation skills</li>
				</ul>
				<h3 class="job-subhead">Tasks</h3>
				<ul class="job-requirements">
					<li>Communicate with drivers throughout their trips to monitor their progress and address any issues</li>
					<li>Prepare daily schedule and coordinate by applying knowledge of the customer, peak delivery times, and routes</li>
					<li>Utilize knowledge of geographical areas and driver schedules, DOT regulations, and vehicle operation capacity</li>
					<li>Manage communication equipment and systems in order to maintain reliable contact with drivers</li>
					<li>Make calls to customers to update on delivery status</li>
				</ul>
			</li>
		</ul>


		<ul class="careers-jobs">
			<li class="clearfix">
				<a href="#" class="job-button clearfix">
					<h3 class="job-title">Data Entry Clerk</h3>
					<p id="plus" class="pull-right">+</p>
				</a>
			</li>
			<li class="job-details">
				<p class="job-summary">
				The primary Purpose of the position is to provide office administrative function to the Accounting and HR Department of a High Volume Trucking Company. Ensuring that computerized records are captured accurately and maintained in the prescribed manner.</p>
				<h3 class="job-subhead">Requirements</h3>
				<ul class="job-requirements">
					<li>High School Diploma</li>
					<li>Working knowledge of MS office</li>
					<li>Good Judgment and swift decision making ability</li>
					<li>Willingness to work extra hours when needed</li>
					<li>Commitment to the mission, values and goals of GSV Transportation</li>
				</ul>
				<h3 class="job-subhead">Experience</h3>
				<p class="job-summary"> 
					Office, secretarial and/or data entry experience preferred
				</p>
				<h3 class="job-subhead">Benefits</h3>
				<p class="job-summary"> 
					Benefits include medical, dental, vision and life Insurance
				</p>
			</li>
		</ul>

		<h2 class="careers-txt">If you would like to be considered, send an email to <a class="jobs-email" href="mailto:jobs@vmgtransport.net">jobs@vmgtransport.net</a> and include the following:</h2>

		<ul class="careers-ul">
			<li><i class="fa fa-check"></i>Cover letter in the body of the email</li>
			<li><i class="fa fa-check"></i>Which position you are applying for</li>
			<li><i class="fa fa-check"></i>Resume attached</li>
			<li><i class="fa fa-check"></i>When you are available to start</li>
		</ul>
		<div class="apply-btn-wrap">
			<a href="mailto:jobs@gsvtrans.net" class="apply-btn">Apply</a>
		</div>

	</div>
</section>


<!-- FOOTER -->
<% include ../partials/footer %>



</body>


</html>



