<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- SUBPAGE MAIN NAV -->
	<% include ../partials/subpage-nav-main.ejs %>

	<!-- SUBPAGE MOBILE NAV -->
	<% include ../partials/subpage-nav-mobile.ejs %>



	<!-- CONTACT BODY -->

	<section class="contact clearfix">
		<div class="constrainer">

			<div class="section-wrap">
				<h1 class="section-header">Acknowledgement and responsiveness equates to respect in our eyes.</h1>
				<span class="section-bullet">Reach out to us</span>
			</div>

			<!-- PHONE 1 -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="tel:9092024488">(909)202-4488</a> ext. 1<br>Transportation</p>
				</div>
			</div>

			<!-- PHONE 2 -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="tel:9092024488">(909)202-4488</a> ext. 2<br>Accounting</p>
				</div>
			</div>

			<!-- PHONE 3 -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="tel:9092024488">(909)202-4488</a> ext. 2<br>Human Resources</p>
				</div>
			</div>

			<!-- EMAIL 1 -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="mailto:loadcon@gsvtrans.com" target="_top">loadcon@gsvtrans.com</a><br>Updates, rates and operations</p>
				</div>
			</div>

			<!-- EMAIL 2 -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="mailto:loadcon@gsvtrans.com" target="_top">loadcon@gsvtrans.com</a><br>Accounting, HR, claims, admin, management questions</p>
				</div>
			</div>

		</div>
	</section>


	<!-- CONTACT SHADED -->

	<section class="contact-shaded-section clearfix">
		<div class="constrainer">

			<div class="shaded-feedback-txt col-sm-8">
				<p>Your opinion matters, let us know how we might improve your experience</p>
			</div>
			<div class="feedback-btn-col col-sm-4">
				<div class="feedback-btn-wrap">
					<a href="" class="feedback-btn" data-toggle="modal" data-target="#feedback-modal">Give Feedback</a>
				</div>
			</div>

			<!-- MODAL FEEDBACK -->
			<% include ../partials/modal-feedback %>

		</div>
	</section>



	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>


</body>


</html>



