<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- HOME MAIN NAV -->
  <% include ../partials/index-nav-main %>

  <!-- HOME MOBILE NAV -->
  <% include ../partials/index-nav-mobile %>





	<!-- CONTACT BODY -->

	<section class="contact clearfix" style="margin-bottom: 100px; padding-top:120px;">
		<div class="constrainer">

			<div class="section-wrap">
				<h1 class="section-header">Reach out to us for all your shipping needs</h1>
			</div>

			<!-- PHONE 1 -->

			<div class="teams-container clearfix" style="margin-top: 90px">
				<div class="teams-badge col-xs-4">
					<img src="img/vmg-phone-ico3.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="tel:9092024488">(909)202-4488</a> ext. 1<br>Transportation</p>
				</div>
			</div>

			<!-- PHONE 2 -->

			<div class="teams-container clearfix" style="margin-top: 90px">
				<div class="teams-badge col-xs-4">
					<img src="img/vmg-phone-ico3.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="tel:9092024488">(909)202-4488</a> ext. 2<br>Accounting</p>
				</div>
			</div>

			<!-- PHONE 3 -->

			<div class="teams-container clearfix" style="margin-top: 90px">
				<div class="teams-badge col-xs-4">
					<img src="img/vmg-phone-ico3.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="tel:9092024488">(909)202-4488</a> ext. 2<br>Human Resources</p>
				</div>
			</div>

			<!-- EMAIL 1 -->

			<div class="teams-container clearfix" style="margin-top: 90px">
				<div class="teams-badge col-xs-4">
					<img src="img/vmg-email3-ico.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="mailto:loadcon@gsvtrans.com" target="_top">loadcon@gsvtrans.com</a><br>Updates, rates and operations</p>
				</div>
			</div>

			<!-- EMAIL 2 -->

			<div class="teams-container clearfix" style="margin-top: 90px">
				<div class="teams-badge col-xs-4">
					<img src="img/vmg-email3-ico.png">
				</div>
				<div class="teams-txt col-xs-8">
					<p class="teams-txt-header"><a href="mailto:loadcon@gsvtrans.com" target="_top">loadcon@gsvtrans.com</a><br>Accounting, HR, claims, admin, management questions</p>
				</div>
			</div>

		</div>
	</section>



	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>


</body>


</html>



