<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- SUBPAGE MAIN NAV -->
	<% include ../partials/subpage-nav-main.ejs %>

	<!-- SUBPAGE MOBILE NAV -->
	<% include ../partials/subpage-nav-mobile.ejs %>


	<!-- DOCS BODY -->

	<section class="careers-txt">
		<div class="constrainer">

			<h2 class="careers-txt">Please find below all documents necessary for partnering with GSV. Reach out to us at <a class="jobs-email" href="mailto:accounting@gsvtrans.net">accounting@gsvtrans.net</a> with any questions.</h2>

			<ul class="careers-ul">
				<li><a href="../downloads/gsv-info.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>GSV Information</a></li>
				
				<li><a href="../downloads/gsv-authority.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>GSV Authority</a></li>
				
				<li><a href="../downloads/gsv-insurance.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>GSV Insurance</a></li>
				
				<li><a href="../downloads/gsv-references.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>GSV References</a></li>
				
				<li><a href="../downloads/gsv-w-9.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>GSV W-9 Form</a></li>

				<li><a href="../downloads/claim-form.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Claim Form</a></li>
			</ul>

		</div>
	</section>


	<!-- FOOTER -->
	<% include ../partials/footer %>



</body>


</html>



