<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- HOME MAIN NAV -->
  <% include ../partials/index-nav-main %>

  <!-- HOME MOBILE NAV -->
  <% include ../partials/index-nav-mobile %>


	<!-- DOCS BODY -->

	<section class="careers-txt" style="margin-bottom: 100px; padding-top:40px;">
		<div class="constrainer">

			<h2 class="careers-txt" style="margin-bottom: 90px;">Please find below all documents necessary for partnering with VMG. Reach out to us at <a class="jobs-email" href="mailto:accounting@gsvtrans.net">accounting@vmgtransport.net</a> with any questions.</h2>

			<ul class="careers-ul">
				<li><a href="../downloads/gsv-info.pdf" target="_blank" style="color:#4880BC"><i class="fa fa-file-pdf-o"></i>VMG Information</a></li>
				
				<li><a href="../downloads/gsv-authority.pdf" target="_blank" style="color:#4880BC"><i class="fa fa-file-pdf-o"></i>VMG Authority</a></li>
				
				<li><a href="../downloads/gsv-insurance.pdf" target="_blank" style="color:#4880BC"><i class="fa fa-file-pdf-o"></i>VMG Insurance</a></li>
				
				<li><a href="../downloads/gsv-references.pdf" target="_blank" style="color:#4880BC"><i class="fa fa-file-pdf-o"></i>VMG References</a></li>
				
				<li><a href="../downloads/gsv-w-9.pdf" target="_blank" style="color:#4880BC"><i class="fa fa-file-pdf-o"></i>VMG W-9 Form</a></li>

				<li><a href="../downloads/claim-form.pdf" target="_blank" style="color:#4880BC"><i class="fa fa-file-pdf-o"></i>Claim Form</a></li>
			</ul>

		</div>
	</section>


  <!-- LOGOS -->
  <% include ../partials/logos %>


  <!-- FOOTER -->
  <% include ../partials/footer %>


</body>


</html>  



