<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- SUBPAGE MAIN NAV -->
	<% include ../partials/subpage-nav-main.ejs %>

	<!-- SUBPAGE MOBILE NAV -->
	<% include ../partials/subpage-nav-mobile.ejs %>



	<!-- EQUIP COVER -->

	<div class="AboutCover">
	<section class="about-banner-txt">

		<div class="constrainer">
			<p class="about-banner-header-txt">Shippers&nbsp; and&nbsp; customers&nbsp; deserve&nbsp; fast,&nbsp; simple&nbsp; logistical&nbsp; solutions&nbsp; at&nbsp; a&nbsp; great&nbsp; price.</p>
		</div>

	</section>
	</div>


	<!-- EQUIPMENT AND FACILITY -->

	<section class="who clearfix">

		<div class="constrainer">
			<h1 class="who-header">Equipment and facility</h1>

			<!-- FLEET -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/fast-truck.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Modern fleet, equipped for high value cargo</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>50 company trucks</li>
						<li><i class="fa fa-check"></i>10 local trucks and bobtails</li>
						<li><i class="fa fa-check"></i>Over 100 trailers</li>
						<li><i class="fa fa-check"></i>All company drivers</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/purp-fleet2.png" class="pull-right">
				</div>
			</div>

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/building.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Brand new facilities, latest safety measures</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Operations crew on site</li>
						<li><i class="fa fa-check"></i>Dock technitions on site</li>
						<li><i class="fa fa-check"></i>24/7 security monitoring</li>
						<li><i class="fa fa-check"></i>Secure yard</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/purp-wearhouse.png" class="pull-right">
				</div>
			</div>

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/tools.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Diligently maintained equipment</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>On site mechanic</li>
						<li><i class="fa fa-check"></i>On site safety manager</li>
						<li><i class="fa fa-check"></i>Clean safety scores</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/purp-mechanics.png" class="pull-right">
				</div>
			</div>

		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>

</body>


</html>



