<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- HOME MAIN NAV -->
	<% include ../partials/index-nav-main %>

	<!-- HOME MOBILE NAV -->
	<% include ../partials/index-nav-mobile %>


	<!-- HOME BANNER TEXT/ FIELDS -->

	<section class="map-banner">

		<div class="constrainer">
			<div class="map-container">
				
			</div>
		</div>

	</section>



	<!-- QUOTE MODAL -->
	<% include ../partials/modal-quote %>


	<!-- STEPS -->
		
	<section class="steps clearfix">

		<div class="constrainer">
			<h1 class="section-header">An asset based brokerage specializing in partial loads, parishables and high value cargo.</h1>

			<div class="step-container clearfix">
				<div class="steps-img col-xs-4">
					<img src="img/vmg-asset-icon2.png">
					<p class="step-graph">Brand new 50,000 square foot distribution center ensuring rapid deliveries</p>
				</div>
				<div class="steps-img col-xs-4">
					<img src="img/vmg-network4.png">
					<p class="step-graph">A network of shippers and indipendant operators working together to serve our customers</p>
				</div>
				<div class="steps-img col-xs-4">
					<img src="img/vmg-safety1.png">
					<p class="step-graph">A perfect DOT score with zero incidences after 10 years in operation</p>
				</div>
			</div>
		</div>

	</section>


	<!-- STATES -->

	<section class="shaded-section clearfix">
		<div class="constrainer">
		<h1 class="shaded-header">Operating in 48 states</h1>
			<div class="states-list col-xs-6 col-sm-3">
				Alabama<br>
				Alaska<br>
				Arizona<br>
				Arkansas<br>
				California<br>
				Colorado<br>
				Connecticut<br>
				Delaware<br>
				Washington, DC<br>
				Florida<br>
				Georgia<br>
				Idaho<br>
				Illinois<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				Indiana<br>
				Iowa<br>
				Kansas<br>
				Kentucky<br>
				Louisiana<br>
				Maine<br>
				Maryland<br>
				Massachusetts<br>
				Michigan<br>
				Minnesota<br>
				Mississippi<br>
				Missouri<br>
				Montana<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				Nebraska<br>
				Nevada<br>
				New Hampshire<br>
				New Jersey<br>
				New Mexico<br>
				New York<br>
				North Carolina<br>
				North Dakota<br>
				Ohio<br>
				Oklahoma<br>
				Oregon<br>
				Pennsylvania<br>
				Rhode Island<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				South Carolina<br>
				South Dakota<br>
				Tennessee<br>
				Texas<br>
				Utah<br>
				Vermont<br>
				Virginia<br>
				Washington<br>
				West Virginia<br>
				Wisconsin<br>
				Wyoming
			</div>
		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>


</body>


</html>