<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="CoverImage">

	<!-- HOME MAIN NAV -->
	<% include ../partials/index-nav-main %>

	<!-- HOME MOBILE NAV -->
	<% include ../partials/index-nav-mobile %>


	<!-- HOME BANNER TEXT/ FIELDS -->

	<section class="banner-txt">

		<div class="constrainer">
			<p class="banner-header">Consider&nbsp; it&nbsp; shipped.</p>
			<p class="banner-header-sub">GSV&nbsp; is&nbsp; a&nbsp; new&nbsp; kind&nbsp; of&nbsp; shipping&nbsp; company,&nbsp; championing&nbsp; speed,&nbsp; transparency&nbsp; and&nbsp; attention&nbsp; to&nbsp;detail.</p>
			<div class="quote-container clearfix">
				<a href="" class="search-btn" data-toggle="modal" data-target="#quote-modal">Get&nbsp;a&nbsp;Quote</a>
			</div>
		</div>

	</section>

	</div>	<!-- CLOSE COVER IMG -->


	<!-- QUOTE MODAL -->
	<% include ../partials/modal-quote %>


	<!-- STEPS -->
		
	<section class="steps clearfix">

		<div class="constrainer">
			<div class="section-wrap">
				<h1 class="section-header">Tell us what you need. Get a free quote. Be amazed by our speed and service.</h1>
				<span class="section-bullet">How GSV Works</span>
			</div>

			<div class="step-container clearfix">
				<div class="step-txt col-xs-8">
					<p class="step-header">1. Give us a shout</p>
					<p class="step-graph">At GSV we understand the importance of responsiveness over everything else. Time equates to capacity, productivity and money in our eyes so we've structured our organization around it.</p>
				</div>
				<div class="steps-img col-xs-4">
					<img src="img/shout.png" class="pull-right">
				</div>
			</div>

			<div class="step-container clearfix">
				<div class="steps-img col-xs-4">
					<img src="img/talk.png">
				</div>
				<div class="step-txt col-xs-8">
					<p class="step-header">2. Talk specifics with our team</p>
					<p class="step-graph">At GSV we focus on detail. In logistics the smallest detail can make or break a deadline or transaction and our service advisors go the extra step to ensure nothing critical is missed.</p>
				</div>
			</div>

			<div class="step-container clearfix">
				<div class="step-txt col-xs-8">
					<p class="step-header">3. Watch the speed and efficiency</p>
					<p class="step-graph">With ten years in business and approximately eight thousand shipments per year, GSV maintains a perfect safety rating and a commitment to meeting deadlines for our customers.</p>
				</div>
				<div class="steps-img col-xs-4">
					<img src="img/truck.png" class="pull-right">
				</div>
			</div>

		</div>

	</section>


	<!-- STATES -->

	<section class="shaded-section clearfix">
		<div class="constrainer">
		<h1 class="shaded-header">Operating in 48 states</h1>
			<div class="states-list col-xs-6 col-sm-3">
				Alabama<br>
				Alaska<br>
				Arizona<br>
				Arkansas<br>
				California<br>
				Colorado<br>
				Connecticut<br>
				Delaware<br>
				Washington, DC<br>
				Florida<br>
				Georgia<br>
				Idaho<br>
				Illinois<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				Indiana<br>
				Iowa<br>
				Kansas<br>
				Kentucky<br>
				Louisiana<br>
				Maine<br>
				Maryland<br>
				Massachusetts<br>
				Michigan<br>
				Minnesota<br>
				Mississippi<br>
				Missouri<br>
				Montana<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				Nebraska<br>
				Nevada<br>
				New Hampshire<br>
				New Jersey<br>
				New Mexico<br>
				New York<br>
				North Carolina<br>
				North Dakota<br>
				Ohio<br>
				Oklahoma<br>
				Oregon<br>
				Pennsylvania<br>
				Rhode Island<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				South Carolina<br>
				South Dakota<br>
				Tennessee<br>
				Texas<br>
				Utah<br>
				Vermont<br>
				Virginia<br>
				Washington<br>
				West Virginia<br>
				Wisconsin<br>
				Wyoming
			</div>
		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>


</body>


</html>