<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- HOME MAIN NAV -->
	<% include ../partials/index-nav-main %>

	<!-- HOME MOBILE NAV -->
	<% include ../partials/index-nav-mobile %>


	<!-- HOME BANNER TEXT/ FIELDS -->

	<section class="map-banner">

		<div class="constrainer">
			<div class="map-container">
				
			</div>
		</div>

	</section>



	<!-- QUOTE MODAL -->
	<% include ../partials/modal-quote %>


	<!-- STEPS -->
		
	<section class="steps clearfix">

		<div class="constrainer">
			<h1 class="section-header steps-header">An asset based brokerage specializing in partial loads, parishables and high value cargo.</h1>

			<div class="step-container clearfix">
				<div class="steps-img col-sm-4">
					<img src="img/vmg-asset-icon2.png">
					<p class="step-graph">Brand new 50,000 square foot distribution center ensuring rapid deliveries</p>
				</div>
				<div class="steps-img steps-img1 col-sm-4">
					<img src="img/vmg-network4.png">
					<p class="step-graph">A network of shippers and indipendant operators working together to serve our customers</p>
				</div>
				<div class="steps-img steps-img1 col-sm-4">
					<img src="img/vmg-safety1.png">
					<p class="step-graph">A perfect DOT score with zero incidences after 10 years in operation</p>
				</div>
			</div>
		</div>

	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>


</body>


</html>