<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- HOME MAIN NAV -->
  <% include ../partials/index-nav-main %>

  <!-- HOME MOBILE NAV -->
  <% include ../partials/index-nav-mobile %>




  <section class="steps clearfix" style="padding-top: 100px;">

    <div class="constrainer">
      <h1 class="section-header" id="modal-header" style="text-align:left; width:80%; margin-bottom:50px">Get a Free Quote for your Shipment:</h1>

      <form class="modal-form-wrap clearfix" id="quoteForm">

        <input type="text" name="quotelName" class="modal-field" id="quoteName" placeholder="Full name" required>

        <input type="email" name="quoteEmail" class="modal-field-half pull-left" id="quoteEmail" placeholder="Email address" required>
        
        <input type="phone" name="quotePhone" class="modal-field-half pull-right" id="quotePhone" placeholder="Phone number" required>

        <input type="number" name="quotePickupZip" class="modal-field-half pull-left" id="quotePickupZip" placeholder="Pickup ZIP" required>

        <input type="date" name="quotePickupDate" class="modal-field-half pull-right" id="quotePickupDate" placeholder="Pickup date" required>

        <input type="number" name="quoteDeliverZip" class="modal-field-half pull-left" id="quoteDeliverZip" placeholder="Delivery ZIP" required>

        <input type="date" name="quoteDeliverDate" class="modal-field-half pull-right" id="quoteDeliverDate" placeholder="Delivery date" required>

        <input type="text" name="quoteCargoVal" class="modal-field-half pull-left" id="quoteCargoVal" placeholder="Commodity and value" required>

        <input type="text" name="quoteCargoWeight" class="modal-field-half pull-right" id="quoteCargoWeight" placeholder="Cargo weight in lbs" required>

        <input type="text" name="quoteCargoDims" class="modal-field" id="quoteCargoDims" placeholder="Dimensions of cargo in feet (LxWxH)" required>
      
        <div class="modal-btn-container clearfix">
  		     <button type="submit" class="modal-btn pull-right" id="quote-button">SUBMIT</button>
           <a class="modal-cancel pull-left" id="clear-quote" data-dismiss="modal" aria-label="Close">Clear form</a>
  	    </div>

      </form>

      <div class="form-submit-confirm-hide" id="form-submit-confirm-id" style="max-width: 500px; margin:auto">
        <h1 class="section-header" id="modal-header-success" style="text-align: center">All Set!</h1>
        <div class="check-animation">
          <svg x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
            C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
          </svg>
        </div>
        <p class="success-txt">
          Thank you for submitting your request for a quote, a representative will be in touch with you shortly.
        </p>
      </div>

    </div>
  </section>  


  <!-- LOGOS -->
  <% include ../partials/logos %>


  <!-- FOOTER -->
  <% include ../partials/footer %>


</body>


</html>  