<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- SUBPAGE MAIN NAV -->
	<% include ../partials/subpage-nav-main.ejs %>

	<!-- SUBPAGE MOBILE NAV -->
	<% include ../partials/subpage-nav-mobile.ejs %>


	<!-- TEAMS -->

	<section class="teams clearfix">

		<div class="constrainer">
			<div class="section-wrap">
				<h1 class="section-header">Our management and technicians ensure quality service for our clients and partners.</h1>
				<span class="section-bullet">Organization and Teams</span>
			</div>

			<!-- ALPHA TEAM -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Alpha Team<br> Relationship Builders</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Pricing</li>
						<li><i class="fa fa-check"></i>Capacity</li>
						<li><i class="fa fa-check"></i>Partner development</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/hands.png" class="pull-right">
				</div>
			</div>

			<!-- DELTA TEAM -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Delta Team<br>Training and Leadership</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Service</li>
						<li><i class="fa fa-check"></i>Ensure best practices</li>
						<li><i class="fa fa-check"></i>Proactive communication</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/leadership.png" class="pull-right">
				</div>
			</div>


			<!-- BRAVO FORCE -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Bravo Force<br>Planning</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Ensures due dates</li>
						<li><i class="fa fa-check"></i>Driver communication</li>
						<li><i class="fa fa-check"></i>Service fail prevention</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/planning.png" class="pull-right">
				</div>
			</div>

			<!-- SEAL TEAM -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Seal Team<br>Dock Technitions</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Safe loading practices</li>
						<li><i class="fa fa-check"></i>Claim prevention</li>
						<li><i class="fa fa-check"></i>Timeliness</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/dock.png" class="pull-right">
				</div>
			</div>



		</div>

	</section>


	<!-- HOW WE WORK SHADED -->

	<section class="shaded-section clearfix">
		<div class="constrainer">
			<h1 class="shaded-header">GSV Organizational Tenents</h1>
			<div class="shaded-work-txt">
				<p><span>RESPECT:</span> At GSV, we show respect to customers, partners, operators and drivers at all times</p>
				<p><span>PROACTIVE CHECKS:</span> Proactive checks on safety and strict adhearance to industry standards</p>
				<p><span>COMMUNICATION:</span> Constant communication and transparency with all parties involved in our opperations</p>
			</div>
		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>

</body>


</html>




